{% extends 'base.html' %}

{% block content %}

<a href="{{ url_for('home') }}"><button class="btn btn-primary">Back to Home</button></a>

<div class="container">
    <h1>This post belongs to : {{ post.author.username }}</h1>

    <h3>Content:</h3>
    <hr>
    <h3>Title: {{ post.title }}</h3>
    <p> {{ post.content }}</p>

    <blockquote>Date Created: {{ post.date_created }}</blockquote>
    {%if current_user == post.author%}
    <!--Update Button-->
    <a href="{{ url_for('post_update', post_id = post.id ) }}"><button class="btn btn-primary">Update</button></a>

    <!--Delete Button-->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dangerModal">Delete Post</button>

    <!--Delete Button Modal-->
    <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="dangerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="dangerModalLabel">Delete Post - Are You Sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This action can't be reversed. Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('post_delete', post_id = post.id ) }}" method="post">
                      <input type="submit" value="Delete?" class="btn btn-danger">
                  </form>
                </div>
              </div>
            </div>
          </div>
</div>
  {%endif%}
{% endblock content %}